:root {
  --nav-link-color: #505050;

    --wave-blue: #2b376e;
    --wave-teal: #2a7997;
    --dark-teal: #007297;
    --wave-green: #008281;
    --railway-gray: #5a5a5a;
    --highway-gray: #787878;
    --service-gray: #aaaaaa;
    --roadway-gray: #d9d9d9;
    --land-gray: #f0f0f0;
    --line-pink: #d6078e;
    --action-orange: #F38B00;

  
}

a.nav-link,
a.nav-link:visited {
  color: var(--nav-link-color);
}

form#feedbackForm {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 10px;
}
h1 {
  font-size: 1.75em;
}
.emph {
  margin-top: 2px;
  border-top: 4px solid #2a7997;
}

button {
  margin-bottom: 20px;
}

.topban {
  padding: 0px 0px 0px 0px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #d6078e !important;
}
.outbox {
  background-color: #eaeaea;
}
.calbox {
  background-color: #f4f4f4;
  padding: 25px;
  margin: 0 0 20px 0;
  border-top: 4px solid #2a7997;
  border-left: 2px solid #ffffff;
  min-height: 280px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.callout {
  border: 2px solid #2a7997;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
}

.pinkcallout {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  padding: 10px;
  margin-bottom: 55px;
}

.pinksurvey {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  border-radius: 5px;
}

.gb {
  color: #ffffff;
  background-color: #2a7997;
  padding: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.graybox {
  background-color: #fbfbfb;
}

.whitebox {
  background-color: #ffffff;
  padding: 10px 0px 10px 20px;
  margin: 10px 0 0 0;
}

h3 {
  font-size: 1.6em;
}

.entryhead {
  color: #ffffff;
  background-color: #2a7997;
  padding: 10px 0px 10px 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.entry-header {
  background-color: #2b376e;
  color: white;
  width: 100%;
  padding: 25px 0px 25px 0px;
  margin: 40px 0px 20px 0px;
}

.entry-header h2 {
  font-weight: 900;
  font-style: italic;

  margin: auto;
}

st {
  font-weight: 900;
}
.topdiv {
  background-color: #d9d9d9;
  padding-top: -20%;
}

.content {
  padding: 16px;
}

.stlogo {
  padding-left: 10px;
}

.navbar-toggler {
  background-color: #d9d9d9;
}

.pbutton {
  color: #ffffff !important;
  background: #d6078e !important;
}

.blbutton {
  color: #ffffff !important;
  background: #d6078e !important;
  width: 100%;
  max-width: 190px;

  height: 101px;
  font-size: 1.2em !important;
  font-style: italic;
  font-weight: 900 !important;
  font-family: "Nunito Sans", Arial, sans-serif !important;
}

.pbutton a {
  color: #ffffff !important;
  text-decoration: none;
  border-color: #ffffff;
}

.blbutton a {
  color: #ffffff !important;
  text-decoration: none;
}

.navbar-nav a {
  font-weight: 800;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #505050;
  font-size: 15px;
  font-style: italic;
  margin: -8px 3px -3px 3px;
}

.dropdown-menu {
  font-weight: 700;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #2d2d2d;
  font-size: 16px;
  font-style: italic;
}
.ps {
  margin-top: -1em;
}
.thr {
  width: 100%;
  text-align: left;
  border-top: dashed;
  border-top-width: thin;
  outline: none;
  font-size: 24px;
  font-style: italic;
  display: none;
}
html {
  scroll-behavior: smooth;
}
li {
  font-family: "Nunito Sans", Arial, sans-serif;

}
h4 {
  font-size: 1em;
  font-style: italic;
  padding: 0 0 0 10px;
  margin: 0;
}
.pix {
  padding: 20px 20px 20px 0px;
}

.fl {
  margin-bottom: 0;
}

.s2 {
  font-size: 1.75em;
}

.nm {
  margin-top: -2px;
}

.nm2 {
  margin-top: 0px;
  margin-left: 5px;
}

p,
li {
  font-size: 1.1rem;
  font-family: Hind, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.leady {
  font-size: 1.4em;
  color: #5a5a5a;
  font-weight: 700;
}
.container {
  max-width: 998px;
}

.bboxHead {
  color: #ffffff;
  background-color: #2b376e;
  padding: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.borderbox {
  border: 0.5px solid #000000;
}

.borderbox3 {
  border: 0.5px solid #000000;
}
.bbox {
  color: #2b376e;
}

.buttonLinkbox {
  padding: 0 20px 0 0;
}

.borderbox2 {
  background-color: #2b376e;
  border: 0.5px solid #000000;
}
.bo {
  border: 0.5px solid #8b8b8b;
}
.hero {
  font-family: "Nunito Sans", sans-serif;
}
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #2b376e;
  font-size: 18px;
}
carousel-indicators {
  color: #000;
}
.accordion {
  background-color: #ffffff;
  color: #2a7997;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  text-align: left;
  border-bottom: dashed;
  border-bottom-width: thin;
  outline: none;
  margin-top: -10px;
  scroll-margin-top: 200px;
  font-size: 24px;
  font-style: italic;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 02.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: rgb(255, 255, 255);
  float: right;
  margin-left: 5px;
}
.accordion {
  background-color: #ffffff;
  color: #2a7997;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  text-align: left;
  border-bottom: dashed;
  border-bottom-width: thin;
  outline: none;
  margin-top: -10px;
  scroll-margin-top: 200px;
  font-size: 24px;
  font-style: italic;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #f8f8f8;
  color: #2a7897;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 02.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: rgb(255, 255, 255);
  float: right;
  margin-left: 5px;
}
.bk {
  background-color: rgba(0, 0, 0, 0.4);
}
.s5 {
  max-height: 150px;
}
.s400 {
  max-width: 400px;
}
.det1 {
  border-top: 1px dashed var(--wave-teal);
  border-bottom: 1px dashed var(--wave-teal);
}
.det2 {
  border-bottom: 1px dashed var(--wave-teal);
}
.sum-text {
  color: var(--wave-teal);
  font-weight: bold;
  font-size: 20px;
}
.plus {
  color: var(--wave-teal);
  float: right;
}
.headhead {
  padding-top: 15px;
  font-size: 38px;
}
html {
  scroll-padding-top: 5%;
}

/* ==== Styling added from omf-south for the progress bar and nav links ==== */

nav.top_nav {
  text-align: center;
  font-size: 0em;
  margin-bottom: 10px;
}

nav.top_nav li {
  display: inline;
}

nav.top_nav a {
  display: inline-block;
  position: relative;
  color: var(--nav-link-color);
}

nav.top_nav a:hover {
  color: #2a7997;
}

nav.top_nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: #2a7997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

nav.top_nav a:hover:before,
nav.top_nav a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.active {
  background: transparent;
}
.nulx {
  text-decoration: underline;
}

#progressbar {
  vertical-align: top;
  width: 100%;
  height: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  width: 100%;
}

/* background: */
progress::-webkit-progress-bar {
  background-color: btransparent;
  width: 100%;
}

progress {
  background-color: btransparent;
}

/* value: */
progress::-webkit-progress-value {
  background-color: #2a7997 !important;
}

progress::-moz-progress-bar {
  background-color: #2a7997 !important;
}

progress {
  color: #2a7997;
}

.container {
  padding-left: 1rem;
}

.carousel-image-container {
  position: relative;
}
.carousel-caption {
  /* display: none !important; */
}
.carousel-content {
  width: 100%;
  padding: 0.5rem 2rem;
}
h1.sg-title {
  display: none;
}

main {
  width: 100%;
  overflow-x: hidden;
}

label::before {

  left: -8px !important;
  padding-left: 5px;
}

/* --- Adds border radius to all the callout boxes ---  */
h3.gb {
  font-size: 1.3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.callout {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

figure {
  border-radius: 5px;
}

.footer-header {
  font-size: 1.5rem;
}

.maintain-ratio {
  object-fit: contain;
  min-width: 80px;
}

.no-style,
.no-style ul {
  list-style: none;

}
.no-style ul {
  padding-left: 0;
}

.sg-survey-form {
  border-radius: 8px;
}

.sg-survey-form label::before {
  padding-left: 10px;
}
.sg-survey-form label {
  font-weight: inherit;
}